<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="UAC.ERP.Sales.WPF.Properties.Settings.UAC_Login" connectionString="Data Source=romsql01;Initial Catalog=UAC_Login;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="Production2016Entities" connectionString="metadata=res://*/SalesModel.csdl|res://*/SalesModel.ssdl|res://*/SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROSQLPROD01\ROSQL14;initial catalog=Production2016;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
</configuration>